name: Dart

on:
  workflow_dispatch:
    inputs:
      color:
        description: 'Hex Color'
        required: true
        default: '#fece23'
      text:
        description: 'Text'
        required: true
        default: 'Golden Tests, wow!'
      alignment:
        description: 'Alignment'
        required: true
        default: 'center'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
      - name: Install dependencies
        run: dart pub get

      - name: Analyze project
        run: dart analyze

      - name: Execute golden Tests
        run: |
          set +e
          flutter test test/golden/home_screen_test.dart --dart-define="color=${{ github.event.inputs.color }}" --dart-define="text=${{ github.event.inputs.text }}" --dart-define="alignment=${{ github.event.inputs.alignment }}"
          status=$?

          # Crie um diret칩rio tempor치rio para armazenar os arquivos PNG
          mkdir golden_images

          # Mova os arquivos PNG para o diret칩rio tempor치rio, preservando a estrutura da origem
          find $GITHUB_WORKSPACE/test/ -type f -name "*.png" -exec mv {} $GITHUB_WORKSPACE/golden_images/ \;

          if [ "$status" -ne 0 ]; then
            echo "Error! Check images differences. Exit code: $status"
          fi

          echo "Finish Workflow"

      - name: Encode PNG files to hexadecimal
        run: |
          for png_file in "$GITHUB_WORKSPACE/golden_images/"/*.png; do
            png_basename=$(basename "$png_file")
            png_hex=$(xxd -p "$png_file")
            echo "## PNG: $png_basename"
            echo "$png_hex"
          done

      - name: Upload PNG artifacts
        uses: actions/upload-artifact@v3
        with:
          name: golden-images
          path: $GITHUB_WORKSPACE/golden_images

      - name: Upload hexadecimal artifacts
        uses: actions/upload-artifact@v3
        with:
          name: golden-images-hex
          path: |
            for png_file in "$GITHUB_WORKSPACE/golden_images/"/*.png; do
              png_basename=$(basename "$png_file")
              echo "$png_file=$png_basename.hex"
            done
