name: Dart 

on:
  workflow_dispatch:
    inputs:
      color:
        description: 'Hex Color'
        required: true
        default: '#fece23'
      text:
        description: 'Text'
        required: true
        default: 'Golden Tests, wow!'
      alignment:
        description: 'Alignment'
        required: true
        default: 'center'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
      - name: Install dependencies
        run: dart pub get

      - name: Analyze project
        run: dart analyze

      - name: Execute golden Tests
        run: |
          set +e
          flutter test test/golden/home_screen_test.dart --dart-define="color=${{ github.event.inputs.color }}" --dart-define="text=${{ github.event.inputs.text }}" --dart-define="alignment=${{ github.event.inputs.alignment }}"
          status=$?
          if [ "$status" -ne 0 ]; then
            echo "Error! Check images differences. Exit code: $status"
          fi
          echo "Finish Workflow"

      # - name: Get working directory
      #   run: |
      #     find $GITHUB_WORKSPACE -type d | while read -r dir; do
      #       echo "Folder: $dir"
      #     done

      # - uses: actions/upload-artifact@v3
      #   with:
      #     name: golden-test-complete
      #     path: /home/runner/work/fgolden-poc/

      - uses: actions/upload-artifact@v3
        with:
          name: golden-test-failures
          path: $GITHUB_WORKSPACE/test/golden/failures/

      - uses: actions/upload-artifact@v3
        with:
          name: golden-test-reference
          path: $GITHUB_WORKSPACE/test/golden/goldens/
