name: Dart 

on:
  workflow_dispatch:
    inputs:
      color:
        description: 'Hex Color'
        required: true
        default: '#fece23'
      text:
        description: 'Text'
        required: true
        default: 'Golden Tests, wow!'
      alignment:
        description: 'Alignment'
        required: true
        default: 'center'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
      - name: Install dependencies
        run: dart pub get

      - name: Analyze project
        run: dart analyze

      - name: Execute golden Tests
        run: |
          set +e
          flutter test test/golden/home_screen_test.dart --dart-define="color=${{ github.event.inputs.color }}" --dart-define="text=${{ github.event.inputs.text }}" --dart-define="alignment=${{ github.event.inputs.alignment }}"
          status=$?
          if [ "$status" -ne 0 ]; then
            echo "Error! Check images differences. Exit code: $status"
            cp -r test/golden_test_output/* golden_output/
          fi
          echo "Finish Workflow"

      - name: Save files
        uses: actions/upload-artifact@v3
        with:
          name: golden-test-screenshots
          path: test/golden_test_output

      - name: Get files URL
        uses: github/actions/get-artifact-url@v2
        with:
          name: golden-test-screenshots
          path: |
            golden-test-screenshots/.artifact
          event: ${{ github.event }}

      - name: Open files
        uses: actions/github-script@v5
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const url = '${{ steps.get-artifact-url.outputs.url }}';
            const window = require('electron').remote.getCurrentWindow();
            window.open(url, {
              show: true,
              newWindow: true,
              resizable: true,
              maximizable: true
            });
